        <h3 class="entry-title">
            <a href="^getFor(current,BaseUrl)^^path^" title="^title^" rel="bookmark">^title^</a>
        </h3>
        ^if(^not(^equal(^get(id), ^getFor(current,id))))^
        <div class="entry-content">
            ^paragraphs(this,1)^
            <a href="^getFor(current,BaseUrl)^^path^">Read more</a>
            <span class="entry-date">
                <abbr class="published" title="^created(this,=)^">#</abbr>
            </span>
        </div>
        ^else^
        <div class="entry-content">
            ^text^
            ^if(^children)^
                <ul class="xoxo">^justChildren(entry-essay-child.html)^</ul>
            ^endif^
        </div>
        ^endif^
